*{
    font-family: canada-type-gibson, "Helvetica Neue", Helvetica, Arial, sans-serif;;
    color: #424242;
}
    body{
        /* box-sizing: border-box; */

    }

                /* .rc-desktop #footer{
                    outline: none;
                    width: auto;
                }
            .rc-footer-desktop{
                color: #424242;
                margin: 0 auto;
            } */
            /* .rc-footer-container, .rc-footer-desktop{ */
            /* .rc-footer-container{
                width: 100%;
                background-color: #f1f4f6;
                padding: 0;
            } */

        .page-top-div{
            background-color: #D9D9D9;
            padding: 15px 20px;
            text-align: center;
        }
            #page-top{
                font-size: .9rem;
                font-weight: bolder;
                text-decoration: none;
            }
        footer{
            background-color: #f1f4f6;
        }
 
            h4{
                margin: 0;
                font-size: 1.8rem;
                font-weight: bolder;
            }
            p{
                font-size: .8rem;
                font-weight: bolder;
            }
                #privacy-notice{
                    color: #075091;
                    text-decoration: none;
                }
            .rc-footer-desktop-sect01, .rc-footer-desktop-sect02{
                display: flex;
                padding: 32px;
                margin: 0 151.5px;
            }
                .rc-subscribe-email-div, .email-signup{
                    width: 52%;
                }
                .email-signup{
                    text-align: end;
                    padding: 30px;
                }
                    input{
                        width: 320px;
                        height: 30px;
                        border-radius: 3px;
                        border: 1px solid gray;
                    }
                    label{
                        position: relative;
                        left: -325px;
                    }
                    button{
                        position: relative;
                        top: -36px;
                        width: 100px;
                        height: 36px;
                        border-radius: 100px;
                        border: none;
                        background-color: #007CB0;
                    }
                        span{
                            color: white;   
                            font-size: 1rem;
                        }
                    .layout-container{
                        width: 100% ;
                        display: flex;
                    }
                        .rc-layout-col{
                            flex-basis: 100%;   
                        }   
                            ul{
                                padding: 0;
                                list-style: none;
                            }
                                li{
                                    padding: 10px 0;
                                }                            
                                    li a{
                                        text-decoration: none;      
                                    }
            .footer-blue{
                background-color: #142B3C;
                height: 160px; 
            } 
                .rc-social-links ul, .rc-policy ul, .rc-copyright{
                    display: flex;
                    justify-content: center;
                }
                    .rc-social-links ul li,
                    .rc-policy ul li{
                        margin: 0 15px;
                    }
                .bst-link-small-white{
                    color: white;
                }
                .all-rights{
                    vertical-align: top;
                    margin: 0 10px;
                }
                .bst-link-white{
                    color: white;
                }  

